@if (Review is not null)
{
	<div class="d-flex flex-column">
		<div class="d-flex reviewCard">
			<div>
				@for (int i = 1; i <= Review.Rating; i++)
				{
					<span class="reviewStar">⭐</span>
				}
			</div>
			<div>
				<div class="reviewText">
					@Review.Text
				</div>
			</div>
		</div>
		<div class="d-flex align-items-center mt-2">
			<div>
				<img style="@_imgStyle" alt="@($"Profile picture for {Review.AuthorName}")" @onerror="OnImageLoadFail" class="reviewPicture" src="@Review.ProfilePhotoUrl" />
			</div>
			<div class="d-flex flex-column">
				<div>
					<strong>@Review.AuthorName</strong>
				</div>
				<small class="reviewDateString text-muted">
					@Review.RelativeTime
				</small>
			</div>
		</div>
	</div>
}